.home-nav-container
  %form.navbar-search.pull-right
    %input.search-query{:placeholder => "Search", :type => "text"}
  %ul.nav.nav-pills.home-nav
    %li.pull-right.join
      %a{:href => "#"} Join
    %li.pull-right
      %a{:href => "#"} Login
    %li.pull-right.divider-vertical
    %li.pull-right
      %a{:href => "#"} Events
    %li.pull-right
      %a{:href => "#"} People
  .home-nav-bottom
#intro-background
%section#intro
  .site-intro-explanation
    %h2 Team > Idea
    %p 4 out of 5 funded startups are composed of teams who have worked together on former projects
    %p QuickSpot can help you find the right team for the long haul
    %button.btn#explain-site-button How?
  = image_tag "logo_sphere.png", :class => "logo"
#explanation-background
%section#explanation
  = image_tag "logo_sphere.png", :class => "logo"
  %h2 Meetups just got fun again
  .steps-wrapper
    .arrow.left
    .arrow.right
    .container.steps-container
      .steps-container-inner.clearfix
        .row.steps
          .span4
            .explanation-box
              %h4 See who's going
              .who-going
                = image_tag "home/smiling_designer.jpg", :class => "person-going"
                %ul
                  %li Developers
                  %li Designers
                  %li Domain Experts
                  %li Big Ideas
          .span4
            .explanation-box
              %h4 Get out there
              = image_tag "home/explanation-group.png", :class => "explanation-group"
          .span4
            .explanation-box
              %h4 Target acquired
              = image_tag "home/private-meeting.png", :class => "private-meeting"
        .row.steps
          .span4
            .explanation-box
              %h4 Checkout events
              = image_tag "home/explanation-events.png", :class => "explanation-events"
          .span4
            .explanation-box
              %h4 Who you should know
              = image_tag "home/explanation-people.png", :class => "explanation-people"
          .span4
            .explanation-box
              %h4 Prepare
              = image_tag "home/explanation-prepare.png", :class => "explanation-prepare"