!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "QuickSpot"
      %meta{:content => content_for?(:description) ? yield(:description) : "QuickSpot", :name => "description"}
        %link{:href => "http://fonts.googleapis.com/css?family=Arvo|PT+Sans", :rel => "stylesheet", :type => "text/css"}
        = stylesheet_link_tag "application", :media => "all"
        = csrf_meta_tags
        = yield(:head)
  %body
    #page-background-container
      .site-intro-explanation
        %h2 Team > Idea
        %p 4 out of 5 funded startups are composed of teams who have worked together on former projects
        %p QuickSpot can help you find the right team for the long haul
        %button.btn How? 
    



    = javascript_include_tag "application"