!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "QuickSpot"
      %meta{:content => content_for?(:description) ? yield(:description) : "QuickSpot", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = csrf_meta_tags
        = yield(:head)
  %body
    #page-background-container
    = javascript_include_tag "application"